*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background-image: url('/src/assets/monsters/images/wallpaper/backmisu.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}