*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
}
body{
    background-image: url('../src/assets/monsters/images/wallpaper/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position : center;
}
button{
    background-color: #000000;
    color: white;
    cursor: pointer;
}