.home-container {
    height: 100vh; /* Utilise toute la hauteur de la vue */
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    flex-direction: column; /* Alignement en colonne pour le titre et l'input */

    h1 {
        font-size: 2rem; /* Taille du titre */
        margin-bottom: 20px; /* Marge en dessous du titre */
    }

    input {
        padding: 10px; /* Rembourrage du champ d'entrée */
        font-size: 1rem; /* Taille de la police du champ d'entrée */
        width: 300px; /* Largeur du champ d'entrée */
        max-width: 100%; /* Largeur maximale du champ d'entrée */
        border: 1px solid #ccc; /* Bordure du champ d'entrée */
        border-radius: 5px; /* Rayon de la bordure */
    }
}
