.home-container {
    display: flex;
    align-items: center; /* Centrer verticalement */
    flex-direction: column; /* Alignement en colonne pour le titre et l'input */

    h1 {
        font-size: 2rem; /* Taille du titre */
        margin-bottom: 20px; /* Marge en dessous du titre */
        background: black;
        padding: 1em;
        border-radius: 64px;
        border: 1px solid white;
        box-shadow: 10px 10px 15px rgba(0,0,0,0.6);
    }

    input {
        padding: 10px; 
        font-size: 1rem;
        color: white;
        max-width: 100%; 
        border-top: 1px solid #ffffff; 
        border-left: 1px solid #ffffff; 
        border-right: 1px solid #ffffff;  
        background: black;
    }
}
