@keyframes flipIn {
    from {
        transform: rotateY(180deg);
        opacity: 0;
    }
    to {
        transform: rotateY(0deg);
        opacity: 1;
    }
}

@keyframes showAnimation {
    0% {
        transform: translateY(-170%);
        opacity: 0;
    }
    100% {
        transform: translateY(0); 
        opacity: 1;
    }
}


@keyframes hideAnimation {
    0% {
        transform: translateY(0);
        opacity: 1; 
    }
    100% {
        transform: translateY(-170%);
        opacity: 0; 
    }
}