/* Media Queries for responsiveness */
@media screen and (max-width: 1200px),(max-width: 768px),(max-width: 480px) {
    .monster-details {
        flex-direction: column;
        align-items: center;
    }

    .monster-card {
        width: 80px;
        height: 80px;
    }

    .home-container {
        margin-top: 20vh;
        h1 {
            font-size: 1.5rem;
        }
        input {
            width: 90%;
        }
    }
    .monster-formulaire{
        padding: 2rem;
    }
    .hunter-form,
    .monster-form {
        padding: 2rem;
        margin-top: 5vh;
    }
    .connection {
        margin-top: 20vh;
        padding: 2rem;
    }
    .horizontal-scroll::-webkit-scrollbar {
        display: none; 
    } 
    /* Style de la piste de la scrollbar */
    .show-scrollbar::-webkit-scrollbar-track {
        background: #000000; /* Couleur de fond de la piste */
        border-radius: 10px; /* Coins arrondis de la piste */
        margin: 10px; /* Marges pour espacer la scrollbar */
        border: 2px solid white;
    }

    /* Style de la barre de défilement */
    .show-scrollbar::-webkit-scrollbar-thumb {
        background: #ffffff; /* Couleur de la barre de défilement */
        border-radius: 10px; /* Coins arrondis de la barre */
    }

    /* Style de la barre de défilement au survol */
    .show-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #555; /* Couleur de la barre de défilement au survol */
    }

    /* Largeur de la scrollbar */
    .show-scrollbar::-webkit-scrollbar {
        width: 12px; /* Largeur de la scrollbar */
        height: 12px; /* Hauteur de la scrollbar */
    }

    .show-scrollbar::-webkit-scrollbar {
        display: block; /* Afficher la scrollbar */
    }   
}

@media screen and (min-width: 1200px){
    .horizontal-scroll::-webkit-scrollbar {
        display: none; 
    } 
}


