.monster-formulaire, .hunter-formulaire {
    display: flex;
    justify-content: center;
}
.monster-form, .hunter-form, .hunter-score, .admin-reseaux {
    display: flex;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 600px;
    padding: 3rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #000000;
    label {
        font-weight: bold;
        margin-bottom: 5px;
    }
    h2 {
        text-align: center;
    }
    input[type="text"],
    input[type="number"],
    input[type="file"],
    select,
    textarea,
    p {
        width: 80%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #000000;
    }
    select {
        background-color: #000000;
    }
    input[type="file"] {
        padding: 0;
    }

    textarea {
        height: 100px;
        resize: vertical;
    }
    button[type="submit"] {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
    
    button[type="submit"]:hover {
        background-color: #45a049;
    }
}

.maps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.map-item {
    padding: 5px;
    width: 30%;
}
.map-item input {
    margin-right: 5px;
}

