@import 'components/keyframe';
@import 'components/body';
@import 'components/menu';
@import 'components/home';
@import 'components/monsterForm';
@import 'components/formUser';
@import 'components/mediaqueries';


.monster-details {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.monster-card {
    margin: 10px 10px 10px 10px;
    padding: 10px;
    height: 60px;
    width: 60px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.all-responses{
    position: relative;
    z-index: 0; 
}
.suggestions {
    border: 1px solid #ffffff;
    border-top-width: 0;
    list-style: none;
    margin: 0;
    max-height: 143px;
    font-size: 1.5rem;
    overflow-y: auto;
    padding-left: 0;
    max-width: 100%;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.suggestion-active {
    cursor: pointer;
    background: green;
}

.suggestion {
    padding: 0.5em;
    margin:0.5rem;
    cursor: pointer;
    
}

.no-suggestions {
    color: #999;
    padding: 0.5em;
}


.monster-card strong {
    font-weight: bold;
    margin-right: 5px;
}
.error-feedback {
    margin-top: 20px;
}

.error-message {
    background-color: #f44336;
    padding: 10px;
    margin-bottom: 10px;
}

.reponse {
    display: flex;
    margin: 0.5rem;
    p.incorrect-guess, p.correct-guess, p.high-array{
        border-radius: 8px;
        font-size: 14px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        min-width: 80px;
        max-width: 80px;
        height: 80px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px;
        border: 1px solid rgb(255, 255, 255);
    }
    img{
        border-radius: 8px;
        margin: 5px;
        width: 80px;
        height: 80px;
        padding: 10px;
        border: 1px solid rgb(255, 255, 255);
    }
}
.flip-in {
        transform: rotateY(180deg);
        backface-visibility: hidden;
        transform-style: preserve-3d;
        animation: flipIn 1s forwards;
    }
.reponse p span{
    border-radius: 64px;
}
img{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}
.high-array{
    background-color: rgb(0, 0, 0);
}

.correct-monster{
    position: fixed;
    z-index: 1;
    left: calc(50% - 150px);
    top: calc(50% - 220px);
    background:rgb(0, 0, 0);
    border-radius: 64px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.813);
    backface-visibility: hidden;
    transform: rotateY(180deg);
    animation: flipIn 1s forwards;
    animation-delay: 3.5s;
}
.bravo{
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    padding: 1rem;
}
.bravo img{
    border: 1px;
    height: auto;
    width: 300px;
    background: black; 

}
.hint {
    background-color: #4caf50;
    padding: 10px;
    margin-bottom: 10px;
}
.correct-guess {
    background-color: #4caf50; /* Fond vert pour une devinette correcte */
    border: 1px solid black;
}

.incorrect-guess {
    background-color: #ff1100; /* Fond rouge pour une devinette incorrecte */
    border: 1px solid black;
}

span.arrow {
    font-weight: bold;
}

.size-lower span, .size-higher span, .size span{
    font-size: 20px;
}

.hints{
    p.tentative{
        margin: 1rem;
        background-color: black;
        font-size: 1.3rem;
        border: 1px solid white;
        padding: 5px;
        border-radius: 16px;
    }
    .hint-item{
        display: flex;
        flex-direction: column;
        audio{
            margin: 10px;
        }
    }
}

/* Style de base pour les éléments details et summary */
details {
    border-radius: 4px;
    margin: 1.5rem;

    summary {
        font-weight: bold;
        cursor: pointer;
        list-style: none;
        background-color: #000000;
        border-radius: 4px;
        span {
            padding: 10px;
            border: 1px solid #aaa;
            background-color: #000000;
        }
        span:hover {
            background-color: #ffffff;
            color: black;
        }
    }
    p {
        text-align: center;
        font-weight: bold;
        padding: 5px;
    }
}

/* Ajouter un X lorsque le contenu est révélé */
details[open] summary::before {
    content: 'x';
    color: white;
    position: absolute;
}

/* Masquer le contenu initial du summary lorsque le details est ouvert */
details[open] summary .summary-content {
    display: none;
}

details[open] summary:hover {
    background-color: #ffffff;
    color: black;
}

/* Optionnel: style pour le contenu révélé */
details[open] {
    padding: 0.5em;
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 16px;
}

//RESPONSE FOR SCREEN RESPONSIVE
.horizontal-scroll {
    overflow-x: scroll;
    max-width: 100vw;

}
.horizontal-scroll::-webkit-scrollbar {
    display: none; 
}
